<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

<title>InValid Code</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!--link rel="stylesheet" type="text/css" th:href="@{/styles.css}" /-->
</head>
<body>


	<div class="text-center">
		<h2>InValid code</h2>
		<h4>Oops, something is not right</h4>
		<p>Please step aside.</p>
		
	</div>

</body>
</html>